@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  background-color: rgb(26, 24, 24);
  font-size: 24px;
}


.navigation{
  height: 80px;
  background-color: rgb(41, 39, 39);
  color: rgba(230, 219, 219, 0.932);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lumanosimo', cursive;
}

.home{
  width: 95%;
  margin: 20px auto;
  display: flex;
}

.home__menu{
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.87);
} 

.home__content{
  margin: 20px 0;
  width: 80%;
}

.menu__searchBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.menu__searchBox input{
  width: 100%;
  height: 40px;
}



.loading__spinner{
  display: flex;
  justify-content: center;
}

.products{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.product__card{
  width: 30%;
  height: 400px;
  padding: 20px;
  margin: 20px;
  background-color: cadetblue;
}
